/* ############ BODY ############  */
*
    box-sizing: border-box
    margin: 0
    padding: 0
    text-decoration: none
    list-style: none

body
    background-color: #DCDCDC
    font-family: "Chillhoud"

::-webkit-scrollbar
    width: 10px
    
::-webkit-scrollbar-track
    background: #DCDCDC

::-webkit-scrollbar-thumb
    background: #AAAAAA

::-webkit-scrollbar-thumb:hover
    background: #555555